:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  transition: 0.5s;
  /* background: #000; */
}


.wrapper {
  background: #F1F1F1;
  margin: 0 auto;
  width: 400px;
  height: 100vh;
  overflow-y: scroll;
  scroll-padding-top: 370px;
  padding-top: 370px;
  /* margin-top: 370px; */
  /* transition: 0.5s; */
  /* border-radius: 5px; */
}

.wrapper::-webkit-scrollbar {
  width: 10px;
  /* background: transparent; */
  border-radius: 5px;
}

.wrapper::-webkit-scrollbar-track {
  margin-top: 370px;
  /* background: transparent; */
}

.wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient( #0F3D3E, #76BA99);
  border-radius: 5px;
}

.dashboard {
  width: 400px;
  height: 370px;
  position: fixed;
  background: #F1F1F1;
  /* transition: 0.5s; */
  /* display: none; */
  top: 0;
}

.switch {
  position: absolute;
  top: 10px;
  right: 20px;
  appearance: none;
  width: 30px;
  height: 16px;
  background: #5BB318;
  border-radius: 15px;
  box-shadow: inset 0 0 3px grey;
  border: 1px solid grey;
}

.switch::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #F5E8E4;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 3px grey;
  top: 1px;
  left: 1px;
  transition: 0.25s ease;
}

.switch:checked:before{
  left: 15px;
}

.switch:checked{
  background: #748DA6;
} 

.playlist {
  display: flex;
  flex-direction: column;
  /* margin-top: 370px; */
  outline: none;
  background: #F1F1F1;
  transition: 0.5s;
}

.name_dashboard {
  font-size: 1.5rem;
  font-weight: bolder;
}

.text_center {
  text-align: center;
  margin: 5px 0;
}

.cd {
  /* background: red; */
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin: 10px auto;
  transition: 0.1s;
}

.control {
  /* border: 1px solid black; */
  width: 75%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
}

.control i {
  /* font-size: 18px; */
}

.align {
  margin: auto 0;
}

.song_time {
  display: block;
  outline: none;
  /* border: 1px solid black; */
  width: 60%;
  margin: 25px auto;

}

#song_time {
  width: 100%;
}

.img_center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.song {
  display: block;
  margin-bottom: 20px;
}

.song_inner {
  display: flex;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  border-radius: 5px;
}

.song_avt {
  height: 40px;
  width: 40px;
  margin: auto 10px;
}

.song_content {
  margin: auto 0;
}

.song_name {
  font-size: 20px;
  font-weight: bold;
}

.song_author {
  font-size: 15px;
}

.btn:hover {
  color: #5800FF;
  cursor: pointer;
}

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.song_inner:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  
}

.red {
  color: red;
}

.interface_wrapper_change{
  background: #212121;
  color: #F1F1F1;
  transition: 0.5s;
}
.interface_body_change{
  background: rgb(39, 35, 35);
  transition: 0.5s;
}

#volume {
  position: absolute;
  display: none;
}

.Hold {
  background: #0096FF !important;
}

.setH {
  padding-top: 155px;
}

.setH_dashboard {
  height: 155px;
}